<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3</key>
	<dict>
		<key>Teams</key>
		<array>
			<dict>
				<key>value</key>
				<string>Rockets</string>
				<key>id</key>
				<string>6</string>
			</dict>
			<dict>
				<key>value</key>
				<string>Lakers</string>
				<key>id</key>
				<string>7</string>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>value</key>
				<string>Knicks</string>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>General</key>
		<array>
			<dict>
				<key>value</key>
				<string>男</string>
				<key>id</key>
				<string>4</string>
			</dict>
			<dict>
				<key>value</key>
				<string>女</string>
				<key>id</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>Weather</key>
		<array>
			<dict>
				<key>value</key>
				<string>晴天</string>
				<key>id</key>
				<string>1</string>
			</dict>
			<dict>
				<key>value</key>
				<string>阴天</string>
				<key>id</key>
				<string>2</string>
			</dict>
			<dict>
				<key>value</key>
				<string>多云</string>
				<key>id</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
