<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupItem</key>
	<dict>
		<key>p1</key>
		<array>
			<string>订单类型</string>
			<string>销售公司</string>
			<string>成品类型</string>
			<string>客户</string>
		</array>
	</dict>
	<key>groupData</key>
	<dict>
		<key>p1</key>
		<dict>
			<key>销售公司</key>
			<array>
				<dict>
					<key>last</key>
					<string>1000000</string>
					<key>lastCompare</key>
					<string>10%</string>
					<key>percentage</key>
					<string>12%</string>
					<key>value</key>
					<string>1200000</string>
					<key>name</key>
					<string>上海</string>
				</dict>
				<dict>
					<key>lastCompare</key>
					<string>10%</string>
					<key>last</key>
					<string>1000000</string>
					<key>percentage</key>
					<string>48%</string>
					<key>value</key>
					<string>4800000</string>
					<key>name</key>
					<string>宁波</string>
				</dict>
				<dict>
					<key>last</key>
					<string>1000000</string>
					<key>lastCompare</key>
					<string>10%</string>
					<key>percentage</key>
					<string>20%</string>
					<key>value</key>
					<string>2000000</string>
					<key>name</key>
					<string>大连</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>lastCompare</key>
					<string>10%</string>
					<key>last</key>
					<string>1000000</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>苏州</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>last</key>
					<string>1000000</string>
					<key>lastCompare</key>
					<string>10%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>邯郸</string>
				</dict>
				<dict>
					<key>last</key>
					<string>1000000</string>
					<key>lastCompare</key>
					<string>10%</string>
					<key>percentage</key>
					<string>10%</string>
					<key>value</key>
					<string>1000000</string>
					<key>name</key>
					<string>北京</string>
				</dict>
			</array>
			<key>订单类型</key>
			<array>
				<dict>
					<key>percentage</key>
					<string>12%</string>
					<key>value</key>
					<string>1200000</string>
					<key>name</key>
					<string>尼龙</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>48%</string>
					<key>value</key>
					<string>4800000</string>
					<key>name</key>
					<string>金属</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>20%</string>
					<key>value</key>
					<string>2000000</string>
					<key>name</key>
					<string>金属开口</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>塑钢</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>特种</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>10%</string>
					<key>value</key>
					<string>1000000</string>
					<key>name</key>
					<string>皮革</string>
				</dict>
			</array>
			<key>成品类型</key>
			<array>
				<dict>
					<key>percentage</key>
					<string>12%</string>
					<key>value</key>
					<string>1200000</string>
					<key>name</key>
					<string>尼龙</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>48%</string>
					<key>value</key>
					<string>4800000</string>
					<key>name</key>
					<string>金属</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>20%</string>
					<key>value</key>
					<string>2000000</string>
					<key>name</key>
					<string>金属开口</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>塑钢</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>特种</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>10%</string>
					<key>value</key>
					<string>1000000</string>
					<key>name</key>
					<string>皮革</string>
				</dict>
			</array>
			<key>客户</key>
			<array>
				<dict>
					<key>percentage</key>
					<string>12%</string>
					<key>value</key>
					<string>1200000</string>
					<key>name</key>
					<string>尼龙</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>48%</string>
					<key>value</key>
					<string>4800000</string>
					<key>name</key>
					<string>金属</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>20%</string>
					<key>value</key>
					<string>2000000</string>
					<key>name</key>
					<string>金属开口</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>塑钢</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>5%</string>
					<key>value</key>
					<string>500000</string>
					<key>name</key>
					<string>特种</string>
				</dict>
				<dict>
					<key>percentage</key>
					<string>10%</string>
					<key>value</key>
					<string>1000000</string>
					<key>name</key>
					<string>皮革</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
