<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kpiDetail</key>
	<string>/kpis/properties</string>
	<key>newPsw</key>
	<string>/api/subscriptions/change_password</string>
	<key>logout</key>
	<string>/api/user_sessions</string>
	<key>version</key>
	<string>/api/settings/validate_ios_app_version</string>
	<key>mailGraph</key>
	<string>/api/emails/analyse</string>
	<key>emails</key>
	<string>/api/emails</string>
	<key>sendMail</key>
	<string>/api/emails</string>
	<key>org</key>
	<string>/api/entity_groups/</string>
	<key>uploadPhoto</key>
	<string>/api/files/upload</string>
	<key>orgById</key>
	<string>/api/entity_groups/:id/detail</string>
	<key>data</key>
	<string>/api/kpi_entries/data</string>
	<key>graph</key>
	<string>/api/kpi_entries/analyse</string>
	<key>kpis</key>
	<string>/api/entity_groups/:id/kpis</string>
	<key>dbFullsize</key>
	<string>/dashboards/fullsize</string>
	<key>login</key>
	<string>/api/user_sessions</string>
	<key>baseUrl</key>
	<string>http://192.168.1.111:3000</string>
	<key>dashboards</key>
	<string>/api/dashboards</string>
	<key>groupAttrbute</key>
	<string>/api/kpis/group_properties</string>
	<key>detailCompare</key>
	<string>/api/kpi_entries/compare</string>
	<key>detailAroundCompare</key>
	<string>/api/kpi_entries/compares</string>
</dict>
</plist>
